.title {
    font-size: 35px;
    padding-bottom: 10%;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
}

@media screen and (min-width: 800px) {
    .title {
        font-size: 60px;
        font-weight: bold;
    }
    .container {
        padding-left: 18%;
        padding-right: 18%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
